/* ############################################
	CLEANUP
############################################ */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, code, img, small, strike, var, b, u, i, center, ol, ul, li, fieldset, form, input, textarea, label, legend, table, tbody, tfoot, thead, tr, th, td, footer, header, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ############################################
	LAYOUT
############################################ */
body {
  background-color: #449;
  font-family: sans-serif; }

h1 {
  text-align: center;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 1.8em;
  margin: 2% 1% 1%; }

#header {
  color: white;
  padding: 3% 1% 2% 5%; }
  #header .name {
    font-family: Georgia, serif;
    font-size: 3em;
    font-weight: bold;
    font-variant: small-caps; }

#header:hover .name {
  text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.7); }

#content {
  background-color: #eaeaea;
  line-height: 22px;
  padding: 0 3%;
  overflow: hidden; }

#wrapper {
  margin: 2% auto; }

#footer {
  padding: 1.5em; }

.clickable {
  position: relative; }

.clickable:hover {
  border-color: black; }

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

@media screen and (max-width: 700px) {
  h1 {
    margin: 1em 0 0.5em; }

  #wrapper {
    margin-bottom: 1em; } }
/* ############################################
	SHIFT BOX
############################################ */
.shift-datetime {
  padding: 5% 5% 2%;
  border-bottom: 1px solid lightgray; }

.shift-details {
  padding: 2% 5% 5%; }

.shift-date {
  font-weight: bold;
  font-variant: small-caps;
  text-align: center; }

.shift-time {
  text-align: center; }

.shift-time-detail {
  display: inline-block; }

hr {
  border-color: lightgray; }

.shift-info .label {
  display: inline-block;
  width: 35%;
  margin-right: 5%;
  margin-bottom: 0;
  color: #888;
  text-align: right;
  vertical-align: top; }
.shift-info .value {
  display: inline-block;
  width: 60%;
  word-wrap: break-word; }

.mon-shift .shift-datetime {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: rgba(255, 0, 0, 0.3); }

.tue-shift .shift-datetime {
  background-color: rgba(255, 255, 0, 0.1);
  border-color: rgba(153, 153, 0, 0.3); }

.wed-shift .shift-datetime {
  background-color: rgba(0, 255, 0, 0.1);
  border-color: rgba(0, 204, 0, 0.3); }

.thu-shift .shift-datetime {
  background-color: rgba(0, 255, 255, 0.1);
  border-color: rgba(0, 204, 204, 0.3); }

.fri-shift .shift-datetime {
  background-color: rgba(0, 0, 255, 0.1);
  border-color: rgba(0, 0, 255, 0.3); }

.sat-shift .shift-datetime {
  background-color: rgba(255, 0, 255, 0.1);
  border-color: rgba(255, 0, 255, 0.3); }

.sun-shift .shift-datetime {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3); }

/* ############################################
	ALL SHIFTS
############################################ */
#shifts {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  margin: -0.5em; }

.shift-summary {
  flex: 1 1 175px;
  -webkit-flex: 1 1 175px;
  margin: 0.5em;
  background-color: white;
  border: 1px solid lightgray; }

.filler {
  flex: 1 1 175px;
  -webkit-flex: 1 1 175px;
  height: 0;
  margin: 0 0.5em; }

/* ############################################
	SHIFT DETAILS
############################################ */
.shift-detailed {
  max-width: 450px;
  margin: 2% auto 1%;
  background-color: white;
  border: 1px solid lightgray; }
  .shift-detailed .shift-date {
    font-size: 1.2em; }
  .shift-detailed .shift-info {
    display: inline-block;
    width: 49%; }
    .shift-detailed .shift-info .value {
      width: 55%; }
  .shift-detailed .full-width {
    width: 98%; }
    .shift-detailed .full-width .label {
      width: 17.5%;
      margin-right: 2.5%; }
    .shift-detailed .full-width .value {
      width: 78%; }

@media screen and (max-width: 500px) {
  .shift-detailed .shift-info {
    width: 98%; }
    .shift-detailed .shift-info .value {
      width: 55%; }
  .shift-detailed .full-width {
    margin-top: 0.5em; }
    .shift-detailed .full-width .value {
      width: 78%; } }
/* ############################################
	ADD SHIFT
############################################ */
form {
  margin: 2% auto 1%;
  max-width: 600px; }
  form button {
    margin: 0 25%;
    width: 50%; }

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=date], input[type=time] {
  line-height: 20px; }

#abbr {
  #font-size: 0.8em;
  line-height: 0.6em;
  padding: 0.3em;
  background-color: rgba(136, 136, 136, 0.5);
  color: white;
  border-radius: 10px; }

#abbr:hover {
  background-color: #888; }

.abbr-wrap {
  display: inline-block;
  height: 0px;
  vertical-align: top; }

label {
  color: #888; }

/* ############################################
	OTHER
############################################ */

/*# sourceMappingURL=style.css.map */
