//colors
$blue: #449;
$lightgrey: #eaeaea;
$darkgrey: #888;

//palette
$body-bgcolor: $blue;
$content-bgcolor: $lightgrey;
$header-text-color: white;
$border-color: lightgray;
$border-hover-color: black;
$label-color: $darkgrey;

$lun-color: darken(orange,10%);
$din-color: darken(dodgerblue,10%);
$bth-color: darken(blueviolet,10%);
$spl-color: darken(sienna,10%);
$wkl-color: darken(silver,10%);

$mon-color: darken(red,10%);
$tue-color: darken(yellow,10%);
$wed-color: darken(lime,10%);
$thu-color: darken(cyan,10%);
$fri-color: darken(blue,10%);
$sat-color: darken(magenta,10%);
$sun-color: lighten(black,10%);

//fonts
$heading-font: "Trebuchet MS", Helvetica, sans-serif;
$content-font: Arial, Helvetica, sans-serif;
$serif-font: Georgia, serif;
$mono-font: Consolas, Monaco, "Lucida Console", "DejaVu Sans Mono", monospace;

//effects
$shadow: 2px 4px 3px rgba(0,0,0,0.3);
$glow: 0px 0px 8px rgba(255,255,255,0.7);
$glow-big: 0px 0px 16px rgba(255,255,255,0.7);

/* ############################################
	CLEANUP
############################################ */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, code, img, small, strike, var, b, u, i, center, ol, ul, li, fieldset, form, input, textarea, label, legend, table, tbody, tfoot, thead, tr, th, td, footer, header, hgroup {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}

/* ############################################
	LAYOUT
############################################ */
body {
	background-color: $body-bgcolor;
	font-family: sans-serif;
}
h1 {
	text-align: center;
	font-family: $serif-font;
	font-weight: bold;
	font-size: 1.8em;
	margin: 2% 1% 1%;
}
h2 {
	font-family: $serif-font;
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em 0;
}
a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}
#header {
	color: $header-text-color;
	padding: 2% 1% 1.5% 5%;
	.name {
		display: inline-block;
		font-family: $serif-font;
		font-size: 3em;
		font-weight: bold;
		font-variant: small-caps;
		a:hover {
			color: $header-text-color; 
			text-shadow: $glow-big;
			text-decoration: none;
		}
	}
	ul.menu {
		display: inline-block;
		margin: 0.3em 0.5em;
		li {
			display: inline-block;
			margin: 0.5em 0;
			a {
				padding: 0.5em;
				border-radius: 5px;
				color: $header-text-color;
			}
			a.active {
				background-color: rgba(black, 0.3);
				pointer-events: none;
				cursor: default;
			}
			a:hover {
				text-decoration: none;
				background-color: rgba(white, 0.2);
			}
		}
	}
}
#content {
	background-color: $content-bgcolor;
	line-height: 22px;
	padding: 0 3%;
	overflow: hidden;
}
#wrapper {
	//max-width: 1300px;
	margin: 2% auto;
}
#footer {
	padding: 1.5em;
}
.clickable { position: relative;}
.clickable:hover { border-color: $border-hover-color;}
.link-spanner {
	position: absolute; 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
@media screen and (max-width: 700px) {
	h1 {margin: 1em 0 0.5em;}
	#wrapper {margin-bottom: 1em;}
}

/* ############################################
	HOME
############################################ */
ul.old-links {
	margin: 1em 0;
	li {
		margin: 0.5em 0;
	}
	a {
		display: inline-block;
		padding: 0.5em;
		border-radius: 5px;
		background-color: $body-bgcolor;
		color: $header-text-color;
	}
	a:hover {
		text-decoration: none;
		background-color: rgba($body-bgcolor, 0.8);
	}
}

/* ############################################
	SHIFT BOX
############################################ */
.shift-datetime {
	padding: 5% 5% 2%;
	border-bottom: 1px solid $border-color;
}
.shift-details {padding: 2% 5% 5%;}
.shift-date {
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
} 
.shift-time {
	text-align: center;
}
.shift-time-detail {
	display: inline-block;
}
hr {border-color: $border-color;}
.shift-info {
	.label {
		display: inline-block;
		width: 35%;
		margin-right: 5%;
		margin-bottom: 0;
		color: $label-color;
		text-align: right;
		vertical-align: top;
	}
	.value {
		display: inline-block;
		width: 60%;
		word-wrap: break-word;
	}
}
.mon-shift {.shift-datetime {background-color: rgba($mon-color,0.1);	border-color: rgba($mon-color,0.3);}}
.tue-shift {.shift-datetime {background-color: rgba($tue-color,0.1);	border-color: rgba(darken($tue-color,15%),0.3);}}
.wed-shift {.shift-datetime {background-color: rgba($wed-color,0.1);	border-color: rgba(darken($wed-color,10%),0.3);}}
.thu-shift {.shift-datetime {background-color: rgba($thu-color,0.1);	border-color: rgba(darken($thu-color,10%),0.3);}}
.fri-shift {.shift-datetime {background-color: rgba($fri-color,0.1);	border-color: rgba($fri-color,0.3);}}
.sat-shift {.shift-datetime {background-color: rgba($sat-color,0.1);	border-color: rgba($sat-color,0.3);}}
.sun-shift {.shift-datetime {background-color: rgba($sun-color,0.1);	border-color: rgba($sun-color,0.3);}}

/* ############################################
	ALL SHIFTS
############################################ */
#shifts {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	margin: -0.5em;
}
.shift-summary {
	flex: 1 1 175px;
	-webkit-flex: 1 1 175px;
	margin: 0.5em;
	background-color: white;
	border: 1px solid $border-color;
}
.filler {
	flex: 1 1 175px;
	-webkit-flex: 1 1 175px;
	height: 0;
	margin: 0 0.5em;
}

@media screen and (max-width: 700px) {

}

/* ############################################
	SHIFT DETAILS
############################################ */
.shift-detailed {
	max-width: 450px;
	margin: 2% auto 1%;
	background-color: white;
	border: 1px solid $border-color;
	.shift-date {
		font-size: 1.2em;
	}
	.shift-info {
		display: inline-block;
		width: 49%;
		.value {
			width: 55%;
		}
	}
	.full-width {
		width: 98%;
		.label {
			width: 17.5%;
			margin-right: 2.5%;
		}
		.value {width: 78%;}
	}
}

@media screen and (max-width: 500px) {
	.shift-detailed {
		.shift-info {
			width: 98%;
			.value {width: 55%;}
		}
		.full-width {
			margin-top: 0.5em;
			.value {width: 78%;}
		}
	}
}

/* ############################################
	ADD SHIFT
############################################ */
form {
	margin: 2% auto 1%;
	max-width: 600px;
	button {
		margin: 0 25%;
		width: 50%;
	}
}
input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type=date], input[type=time] {
	line-height: 20px;
}
#abbr {
	#font-size: 0.8em;
	line-height: 0.6em;
	padding: 0.3em;
	background-color: rgba($label-color,0.5);
	color: white;
	border-radius: 10px;
}
#abbr:hover {background-color: $label-color;}
.abbr-wrap {
	display: inline-block;
	height: 0px;
	vertical-align: top;
}
label {color: $label-color;}

/* ############################################
	SUMMARY
############################################ */
div.mobile-table {
	width: 100%;
	overflow-x: auto;
}
.summary-table {
	margin: 0 auto;
	td, th {
		background-color: white;
		border: 1px solid $content-bgcolor;
		vertical-align: middle;
	}
	td {
		color: black;
		padding: 0.35em 0.5em;
		white-space: nowrap;
		text-align: right;
	}
	th {
		color: white;
		padding: 0.5em;
		text-align: center;
	}
}
th.hdr-avg-cell {background-color: dimgrey;}
th.hdr-tot-cell {background-color: grey;}

td.lun-avg-cell {background-color: rgba($lun-color,0.6);}
td.lun-tot-cell {background-color: rgba($lun-color,0.4);}
td.din-avg-cell {background-color: rgba($din-color,0.6);}
td.din-tot-cell {background-color: rgba($din-color,0.4);}
td.bth-avg-cell {background-color: rgba($bth-color,0.6);}
td.bth-tot-cell {background-color: rgba($bth-color,0.4);}
td.spl-avg-cell {background-color: rgba($spl-color,0.6);}
td.spl-tot-cell {background-color: rgba($spl-color,0.4);}
td.wkl-avg-cell {background-color: rgba($wkl-color,0.9);}
td.wkl-tot-cell {background-color: rgba($wkl-color,0.4);}

td.mon-avg-cell {background-color: rgba($mon-color,0.5);}
td.mon-tot-cell {background-color: rgba($mon-color,0.35);}
td.tue-avg-cell {background-color: rgba($tue-color,0.6);}
td.tue-tot-cell {background-color: rgba($tue-color,0.35);}
td.wed-avg-cell {background-color: rgba($wed-color,0.55);}
td.wed-tot-cell {background-color: rgba($wed-color,0.3);}
td.thu-avg-cell {background-color: rgba($thu-color,0.55);}
td.thu-tot-cell {background-color: rgba($thu-color,0.3);}
td.fri-avg-cell {background-color: rgba($fri-color,0.4);}
td.fri-tot-cell {background-color: rgba($fri-color,0.25);}
td.sat-avg-cell {background-color: rgba($sat-color,0.45);}
td.sat-tot-cell {background-color: rgba($sat-color,0.3);}
td.sun-avg-cell {background-color: rgba($sun-color,0.4);}
td.sun-tot-cell {background-color: rgba($sun-color,0.25);}

/* ############################################
	OTHER
############################################ */
body {
	//transform: scale(0.5);
}
a.debug {color: lime; font-weight: bolder; font-family: $mono-font; padding: 0.5em;}
a.debug:hover {background-color: black;}