<!DOCTYPE html>
<html lang="en" ng-app="shiftTips">
<head>
	<meta charset="utf-8">
	<title>Shift Tips</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- favicon settings -->
	<link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
	<link rel="icon" type="imagepng" href="favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="imagepng" href="android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="imagepng" href="favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="imagepng" href="favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
	<meta name="apple-mobile-web-app-title" content="Shift Tips">
	<meta name="application-name" content="Shift Tips">
	<meta name="msapplication-TileColor" content="#337ab7">
	<meta name="msapplication-TileImage" content="mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- facebook settings -->
	<meta property="fb:app_id" content="568230390004127" />
	<meta property="og:title" content="Shift Tips" /> 
	<meta property="og:site_name" content="Shift Tips" />
	<meta property="og:url" content="http://raystroud.ca/shifttips/" />
	<meta property="og:description" content="shift &amp; tip tracking app" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://raystroud.ca/shifttips/favicon.png" />
</head>
<body ng-controller="UserController as userCtrl">
	<div id="header" ng-show="userCtrl.isSilentLoggedIn()" ng-cloak>
		<ul class="menu">
			<li><a class="name" href="#/">S<span class="hide-mobile">hift </span>T<span class="hide-mobile">ips</span></a></li>
			<li ng-if="userCtrl.isLoggedIn()"><a class="link-button" href="#/shifts/add">Add</a></li>
			<li ng-if="userCtrl.isLoggedIn()"><a class="link-button" href="#/shifts">Shifts</a></li>
			<li ng-if="userCtrl.isLoggedIn()"><a class="link-button" href="#/summary">Summary</a></li>
			<li ng-if="userCtrl.isLoggedIn()"><a class="link-button" href="#/summary/period">Period</a></li>
			<li ng-if="userCtrl.isLoggedIn()"><a class="link-button" href="#/account">User: {{userCtrl.user.name}}</a></li>
			<li ng-if="!userCtrl.isLoggedIn() && !userCtrl.showAbout"><span class="link-button" ng-click="userCtrl.showAbout=true;">About / Help / FAQ</span></li>
			<li ng-if="!userCtrl.isLoggedIn() && userCtrl.showAbout"><span class="link-button" ng-click="userCtrl.showAbout=false; userCtrl.newAccount=false;">Login</span></li>
		</ul>
	</div>
	<div id="content" ng-show="userCtrl.isSilentLoggedIn()" ng-cloak>
		<div id="wrapper">
			<div ng-view ng-if="userCtrl.isLoggedIn()"></div>
			<div ng-if="!userCtrl.isLoggedIn()">
				<div ng-show="!userCtrl.showAbout">
					<div class="centered error message-box" ng-show="userCtrl.silentLoginError">{{userCtrl.silentLoginError}} <a class="link" href="mailto:ray.stroud@gmail.com?subject=ShiftTips%20Login%20Error&body=Hello,%0D%0A%0D%0AShift%20Tips%20would%20not%20login%20on%20my%20device%20using%20the%20stored%20name%20and%20email.%0D%0A%0D%0AThanks,%0D%0A%0D%0A[ENTER%20NAME%20HERE]" target="_blank">Please Contact the Administrator</a></div>
					<div ng-show="userCtrl.newAccount==false">
						<h1>Login</h1>
						<form name="loginForm" class="login-form" novalidate
							ng-class="{submitted:loginForm.$submitted}" 
							ng-submit="loginForm.$valid && userCtrl.login(userCtrl.loginUser.name, userCtrl.loginUser.email)">
							<div class="form-group full-width">
								<div class="error message-box" ng-show="userCtrl.loginError">{{userCtrl.loginError}}</div>
								<div class="error message-box" ng-show="loginForm.$submitted && !loginForm.$valid">Cannot login. Fill out "Name" and "Email" fields, and make sure fields are formatted correctly.</div>
							</div>
							<div class="form-group half-width">
								<label for="name">Name</label>
								<input ng-model="userCtrl.loginUser.name" required id="name" name="name" type="text"/>
							</div>
							<div class="form-group full-width">
								<label for="email">Email</label>
								<input ng-model="userCtrl.loginUser.email" required id="email" name="email" type="email"/>
							</div>
							<div class="form-group button-group full-width">
								<button class="link-button button-narrow" type="submit" name="submit"><span class="fa fa-fw fa-sign-in"></span> Login</button>
							</div>
						</form>
						<div class="centered"><span class="link" ng-click="userCtrl.showAbout=false; userCtrl.newAccount=true;">Register a new account?</span></div>
					</div>
					<div ng-show="userCtrl.newAccount==true">
						<h1>Register</h1>
						<form name="userAddForm" class="login-form" novalidate
								ng-class="{submitted:userAddForm.$submitted}" 
								ng-submit="userAddForm.$valid && userCtrl.addUser()">
							<div class="form-group full-width">
								<div class="error message-box" ng-show="userCtrl.registerError">{{userCtrl.registerError}}</div>
								<div class="error message-box" ng-show="userAddForm.$submitted && !userAddForm.$valid">Cannot create account. Fill out "Name" and "Email" fields, and make sure fields are formatted correctly.</div>
							</div>
							<div class="form-group half-width">
								<label for="name">Name</label>
								<input ng-model="userCtrl.newUser.name" required id="name" name="name" type="text"/>
							</div>
							<div class="form-group full-width">
								<label for="email">Email</label>
								<input ng-model="userCtrl.newUser.email" required id="email" name="email" type="email"/>
							</div>
							<div class="form-group button-group full-width">
								<button class="link-button button-narrow" type="submit" name="submit"><span class="fa fa-fw fa-user-plus"></span> Sign Up</button>
							</div>
						</form>
						<div class="centered"><span class="link" ng-click="userCtrl.showAbout=false; userCtrl.newAccount=false;">Login with an existing account?</span></div>
					</div>
					<div ng-include="'/shifttips/app/home/update.html'"></div>
				</div>
				<div ng-if="userCtrl.showAbout">
					<div ng-include="'/shifttips/app/home/about.html'"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" ng-show="userCtrl.isSilentLoggedIn()" ng-cloak>
		<div><a href="mailto:ray.stroud@gmail.com?subject=ShiftTips" target="_blank">Contact</a></div>
		<div>Shift Tips &copy; 2016 by <a href="http://raystroud.ca" target="_blank">Ray Stroud</a></div>
		<!--div
			class="fb-like"
			data-share="true"
			data-width="450"
			data-show-faces="true">
		</div-->
<!-- DEBUG
		<div><a class="debug" href="#" target="popup" onClick="wopen('#', 'popup', 320, 480); return false;">debug mobile popup</a></div>
-->
	</div>
	
	<!-- libraries -->
	<script src="assets/libs/angular.min.js"></script>
	<script src="assets/libs/angular-route.min.js"></script>
	<script src="assets/libs/angular-filter.min.js"></script>
	<script src="assets/libs/angular-local-storage.min.js"></script>
	<script src="assets/libs/moment.min.js"></script>

	<!-- application -->
	<script src="app/app.js"></script>
	<script src="app/users/users.js"></script>
	<script src="app/shifts/shifts.js"></script>
	<script src="app/summary/summary.js"></script>
	<script src="app/filters/filters.js"></script>

	<!-- facebook app plugin -->
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '568230390004127',
				xfbml      : true,
				version    : 'v2.6'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- debug popup function -->
	<script>
		function wopen(url, name, w, h)
		{
			//Fudge factors for window decoration space.
			w += 32;
			h += 96;
			var win = window.open(url, name, 'width=' + w + ', height=' + h + ', ' +
				'location=no, menubar=no, ' + 'status=no, toolbar=no, scrollbars=yes, resizable=yes');
			win.resizeTo(w, h);
			win.focus();
		}
	</script>
</body>
</html>