<!DOCTYPE html>
<html lang="en" ng-app="shiftTips">
<head>
	<meta charset="utf-8">
	<title>Shift Tips</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
<body ng-controller="UserController as userCtrl" ng-cloak>
	<div id="header">
		<ul class="menu">
			<li><a class="name" href="#/">S<span class="hide-mobile">hift </span>T<span class="hide-mobile">ips</span></a></li>
			<li><a class="link-button" href="#/shifts">Shifts</a></li>
			<li><a class="link-button" href="#/summary">Summary</a></li>
			<li><a class="link-button" href="#/summary/period">Period</a></li>
			<li><a class="link-button" href="#/shifts/due">Due</a></li>
			<li><a class="link-button" href="#/shifts/add">Add</a></li>
			<li ng-if="userCtrl.user.uid > 0"><a class="link-button" href="#/account">User: {{userCtrl.user.name}}</a></li>
		</div>
	</div>
	<div id="content">
		<div id="wrapper">
			<div ng-view ng-if="userCtrl.isLoggedIn()"></div>
			<div ng-if="!userCtrl.isLoggedIn()">
				<h1>Login</h1>
				<div class="form-wrap">
					<form name="loginForm" class="login-form" novalidate
							ng-class="{submitted:loginForm.$submitted}" 
							ng-submit="loginForm.$valid && userCtrl.login(userCtrl.loginUser.name, userCtrl.loginUser.email)">
						<div class="form-group full-width">
							<h4>Existing Account</h4>
							<div class="error message-box" ng-show="userCtrl.loginError">{{userCtrl.loginError}}</div>
							<div class="error message-box" ng-show="loginForm.$submitted && !loginForm.$valid">Cannot login. Fill out "Name" and "Email" fields, and make sure fields are formatted correctly.</div>
						</div>
						<div class="form-group half-width">
							<label for="name">Name</label>
							<input ng-model="userCtrl.loginUser.name" required id="name" name="name" type="text"/>
						</div>
						<div class="form-group full-width">
							<label for="email">Email</label>
							<input ng-model="userCtrl.loginUser.email" required id="email" name="email" type="email"/>
						</div>
						<div class="form-group button-group full-width">
							<button class="link-button button-narrow" type="submit" name="submit"><span class="fa fa-fw fa-sign-in"></span> Login</button>
						</div>
					</form>

					<form name="userAddForm" class="user-form" novalidate
							ng-class="{submitted:userAddForm.$submitted}" 
							ng-submit="userAddForm.$valid && userCtrl.addUser()">
						<div class="form-group full-width">
							<h4>New Account</h4>
							<div class="error message-box" ng-show="userCtrl.registerError">{{userCtrl.registerError}}</div>
							<div class="error message-box" ng-show="userAddForm.$submitted && !userAddForm.$valid">Cannot create account. Fill out "Name" and "Email" fields, and make sure fields are formatted correctly.</div>
						</div>
						<div class="form-group half-width">
							<label for="name">Name</label>
							<input ng-model="userCtrl.newUser.name" required id="name" name="name" type="text"/>
						</div>
						<div class="form-group full-width">
							<label for="email">Email</label>
							<input ng-model="userCtrl.newUser.email" required id="email" name="email" type="email"/>
						</div>
						<div class="form-group button-group full-width">
							<button class="link-button button-narrow" type="submit" name="submit"><span class="fa fa-fw fa-user-plus"></span> Sign Up</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div><a href="mailto:ray.stroud@gmail.com?subject=ShiftTips%20Problem" target="_top">Report Problem</a></div>
		<div>Shift Tips &copy; 2016 by <a href="http://raystroud.ca" target="_blank">Ray Stroud</a></div>
<!-- DEBUG
		<div><a class="debug" href="#" target="popup" onClick="wopen('#', 'popup', 320, 480); return false;">debug mobile popup</a></div>
-->
	</div>
	
	<!-- libraries -->
	<script src="assets/libs/angular.min.js"></script>
	<script src="assets/libs/angular-route.min.js"></script>
	<script src="assets/libs/angular-filter.min.js"></script>
	<script src="assets/libs/angular-local-storage.min.js"></script>
	<script src="assets/libs/moment.min.js"></script>

	<!-- application -->
	<script src="app/app.js"></script>
	<script src="app/users/users.js"></script>
	<script src="app/shifts/shifts.js"></script>
	<script src="app/summary/summary.js"></script>
	<script src="app/filters/filters.js"></script>

	<!-- debug popup function -->
	<script>
		function wopen(url, name, w, h)
		{
			//Fudge factors for window decoration space.
			w += 32;
			h += 96;
			var win = window.open(url, name, 'width=' + w + ', height=' + h + ', ' +
				'location=no, menubar=no, ' + 'status=no, toolbar=no, scrollbars=yes, resizable=yes');
			win.resizeTo(w, h);
			win.focus();
		}
	</script>
</body>
</html>