//colors
$blue: #449;
$lightgrey: #eaeaea;
$darkgrey: #888;

//palette
$body-bgcolor: $blue;
$content-bgcolor: $lightgrey;
$header-text-color: white;
$border-color: lightgray;
$border-hover-color: black;
$label-color: $darkgrey;

$monday-color: red;
$tuesday-color: yellow;
$wednesday-color: lime;
$thursday-color: cyan;
$friday-color: blue;
$saturday-color: magenta;
$sunday-color: black;

//fonts
$heading-font: "Trebuchet MS", Helvetica, sans-serif;
$content-font: Arial, Helvetica, sans-serif;
$serif-font: Georgia, serif;
$mono-font: Consolas, Monaco, "Lucida Console", "DejaVu Sans Mono", monospace;

//effects
$shadow: 2px 4px 3px rgba(0,0,0,0.3);
$glow: 0px 0px 8px rgba(255,255,255,0.7);
$glow-big: 0px 0px 16px rgba(255,255,255,0.7);

/* ############################################
	CLEANUP
############################################ */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, code, img, small, strike, var, b, u, i, center, ol, ul, li, fieldset, form, input, textarea, label, legend, table, tbody, tfoot, thead, tr, th, td, footer, header, hgroup {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}

/* ############################################
	LAYOUT
############################################ */
body {
	background-color: $body-bgcolor;
	font-family: sans-serif;
}
h1 {
	text-align: center;
	font-family: $serif-font;
	font-weight: bold;
	font-size: 1.8em;
	margin: 2% 1% 1%;
}
#header {
	color: $header-text-color;
	padding: 3% 1% 2% 5%;
	.name {
		font-family: $serif-font;
		font-size: 3em;
		font-weight: bold;
		font-variant: small-caps;
	}
}
#header:hover {
	.name {text-shadow: $glow-big;}
}
#content {
	background-color: $content-bgcolor;
	line-height: 22px;
	padding: 0 3%;
	overflow: hidden;
}
#wrapper {
	//max-width: 1300px;
	margin: 2% auto;
}
#footer {
	padding: 1.5em;
}
.clickable { position: relative;}
.clickable:hover { border-color: $border-hover-color;}
.link-spanner {
	position: absolute; 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
@media screen and (max-width: 700px) {
	h1 {margin: 1em 0 0.5em;}
	.wrapper {margin-bottom: 1em;}
}

/* ############################################
	SHIFT BOX
############################################ */
.shift-datetime {
	padding: 5% 5% 2%;
	border-bottom: 1px solid $border-color;
}
.shift-details {padding: 2% 5% 5%;}
.shift-date {
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
} 
.shift-time {
	text-align: center;
}
.shift-time-detail {
	display: inline-block;
}
hr {border-color: $border-color;}
.shift-info {
	.label {
		display: inline-block;
		width: 35%;
		margin-right: 5%;
		margin-bottom: 0;
		color: $label-color;
		text-align: right;
		vertical-align: top;
	}
	.value {
		display: inline-block;
		width: 60%;
		word-wrap: break-word;
	}
}
.mon-shift {.shift-datetime {background-color: rgba($monday-color,0.1);		border-color: rgba($monday-color,0.3);}}
.tue-shift {.shift-datetime {background-color: rgba($tuesday-color,0.1);	border-color: rgba(darken($tuesday-color,20%),0.3);}}
.wed-shift {.shift-datetime {background-color: rgba($wednesday-color,0.1);	border-color: rgba(darken($wednesday-color,10%),0.3);}}
.thu-shift {.shift-datetime {background-color: rgba($thursday-color,0.1);	border-color: rgba(darken($thursday-color,10%),0.3);}}
.fri-shift {.shift-datetime {background-color: rgba($friday-color,0.1);		border-color: rgba($friday-color,0.3);}}
.sat-shift {.shift-datetime {background-color: rgba($saturday-color,0.1);	border-color: rgba($saturday-color,0.3);}}
.sun-shift {.shift-datetime {background-color: rgba($sunday-color,0.1);		border-color: rgba($sunday-color,0.3);}}

/* ############################################
	ALL SHIFTS
############################################ */
#shifts {
	display: flex;
	flex-flow: row wrap;
}
.shift-summary {
	flex: 1 1 165px;
	margin: 1%;
	background-color: white;
	border: 1px solid $border-color;
}
.filler {
	flex: 1 1 160px;
	height: 0;
	margin: 0 1%;
}

@media screen and (max-width: 700px) {
	.shift-summary {margin: 0.5em 1%;}

}

/* ############################################
	SHIFT DETAILS
############################################ */
.shift-detailed {
	max-width: 450px;
	margin: 2% auto 1%;
	background-color: white;
	border: 1px solid $border-color;
	.shift-date {
		font-size: 1.2em;
	}
	.shift-info {
		display: inline-block;
		width: 49%;
		.value {
			width: 55%;
		}
	}
	.full-width {
		width: 98%;
		.label {
			width: 17.5%;
			margin-right: 2.5%;
		}
		.value {width: 78%;}
	}
}

@media screen and (max-width: 500px) {
	.shift-detailed {
		.shift-info {
			width: 98%;
			.value {width: 55%;}
		}
		.full-width {
			margin-top: 0.5em;
			.value {width: 78%;}
		}
	}
}

/* ############################################
	ADD SHIFT
############################################ */
form {
	margin: 2% auto 1%;
	max-width: 600px;
	button {
		margin: 0 25%;
		width: 50%;
	}
}

////////////////////////////
body {
	//transform: scale(0.5);
}
input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}