<div ng-controller="ShiftListController as shiftListCtrl">
	<h1>Shifts</h1>
	<div ng-controller="FilterController as filterCtrl">
		<form class="filter-form" method="get" action="#">
			<div class="filter-group" id="date-range">
				<div class="filter-group-wrap">
					<div class="filter-group-header">Date Range</div>
					<div class="filter-group-body">
						<input type="date" name="from" placeholder="yyyy-mm-dd" ng-model="filterCtrl.from" ng-change="filterCtrl.fromDateChange()" />
						<input type="date" name="to" placeholder="yyyy-mm-dd" ng-model="filterCtrl.to" ng-change="filterCtrl.toDateChange()" />
					</div>
				</div>
			</div>
			<div class="filter-group" id="day-of-week">
				<div class="filter-group-wrap">
					<div class="filter-group-header">Day of Week</div>
					<div class="filter-group-body">
						<input type="checkbox" id="mon-check" name="mon" ng-checked="filterCtrl.monCheck">
						<label ng-click="filterCtrl.toggleMon()">Mon</label>
						<input type="checkbox" id="tue-check" name="tue" ng-checked="filterCtrl.tueCheck">
						<label ng-click="filterCtrl.toggleTue()">Tue</label>
						<input type="checkbox" id="wed-check" name="wed" ng-checked="filterCtrl.wedCheck">
						<label ng-click="filterCtrl.toggleWed()">Wed</label>
						<input type="checkbox" id="thu-check" name="thu" ng-checked="filterCtrl.thuCheck">
						<label ng-click="filterCtrl.toggleThu()">Thu</label>
						<input type="checkbox" id="fri-check" name="fri" ng-checked="filterCtrl.friCheck">
						<label ng-click="filterCtrl.toggleFri()">Fri</label>
						<input type="checkbox" id="sat-check" name="sat" ng-checked="filterCtrl.satCheck">
						<label ng-click="filterCtrl.toggleSat()">Sat</label>
						<input type="checkbox" id="sun-check" name="sun" ng-checked="filterCtrl.sunCheck">
						<label ng-click="filterCtrl.toggleSun()">Sun</label>
					</div>
				</div>
			</div>
			<div class="filter-group" id="shift-time">
				<div class="filter-group-wrap">
					<div class="filter-group-header">Time</div>
					<div class="filter-group-body">
						<input type="checkbox" id="lun-check" name="lun" ng-checked="filterCtrl.lunCheck">
						<label ng-click="filterCtrl.toggleLun()">AM</label>
						<input type="checkbox" id="din-check" name="din" ng-checked="filterCtrl.dinCheck">
						<label ng-click="filterCtrl.toggleDin()">PM</label>
					</div>
				</div>
			</div>
			<!--div class="filter-group" id="filter-buttons">
				<div class="filter-group-wrap">
					<div class="filter-group-header">Filter</div>
					<div class="filter-group-body">
						<button class="link-button" type="submit">Filter</button> 
						<button class="link-button" type="submit" name="week">Weekly</button>
						<a class="link-button button-inverse" href="#">Reset</a>
					</div>
				</div>
			</div-->
		</form>
		<h3>
			Viewing {{filteredShifts.length}} <span class="{{filterCtrl.lunchDinner ? 'filter-bold' : ''}}">{{filterCtrl.lunchDinner == 'L' ? 'Lunch' : ''}}{{filterCtrl.lunchDinner == 'D' ? 'Dinner' : ''}}</span> shifts on <span class="{{filterCtrl.sDays ? 'filter-bold' : ''}}">{{filterCtrl.sDays || 'any day'}}</span> from <span class="{{filterCtrl.from ? 'filter-bold' : ''}}">{{filterCtrl.from ? (filterCtrl.from | date) : 'any date'}}</span> to <span class="{{filterCtrl.to ? 'filter-bold' : ''}}">{{filterCtrl.to ? (filterCtrl.to | date) : 'any date'}}</span>
		</h3>
		<div ng-show="filteredShifts.length < 1">
			No shifts found
		</div>
		<div id="shifts">
			<div class="clickable shift-summary {{shift.dayOfWeek | lowercase}}-shift {{shift.lunchDinner | lowercase}}-shift"
				 ng-repeat="shift in filteredShifts = (shiftListCtrl.shifts | isValidShift:{fromDate:filterCtrl.from,toDate:filterCtrl.to,lunchDinner:filterCtrl.lunchDinner,aDays:filterCtrl.aDays} | orderBy:['date','startTime'])">
				<div class="shift-datetime">
					<div class="shift-date">{{shift.date | date:'EEE, MMM d, yyyy'}}</div>
					<div class="shift-time">{{shift.startTime | timeToDate | date:'h:mma'}} - {{shift.endTime | timeToDate | date:'h:mma'}}</div>
				</div>
				<div class="shift-details">
					<div class="shift-info">
						<div class="label">Sales</div>
						<div class="value">{{shift.sales | currency}}</div>
					</div>
					<div class="shift-info">
						<div class="label">T/O</div>
						<div class="value">{{shift.tipout | currency:undefined:0}}</div>
					</div>
					<div class="shift-info">
						<div class="label">Tips</div>
						<div class="value">{{shift.earnedTips | currency:undefined:0}}</div>
					</div>
					<div class="shift-info">
						<div class="label">$/h</div>
						<div class="value">{{shift.earnedHourly | currency}}/h</div>
					</div>
					<a href="#/shifts/{{shift.id}}"><span class="link-spanner"></span></a>
				</div>
			</div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
			<div class="filler" ng-hide="shiftListCtrl.shifts.length < 1"></div>
		</div>
	</div>
</div>