<div ng-controller="ShiftGridController as ctrl">
	<h1>Shifts</h1>
	<div class="error message-box" ng-show="ctrl.error">{{ctrl.error}}</div>
	<div ng-hide="ctrl.error">
		<div ng-controller="ShiftFilterController as filterCtrl">
			<form class="filter-form" method="get" action="#">
				<div class="filter-group" id="filter-visible">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Filters</div>
						<div class="filter-group-body">
							<div ng-hide="filterCtrl.visible" class="link-button button-inverse" ng-click="filterCtrl.show()"><span class="fa fa-fw fa-eye"></span></div>
							<div ng-show="filterCtrl.visible" class="link-button" ng-click="filterCtrl.hide()"><span class="fa fa-fw fa-eye-slash"></span></div>
						</div>
					</div>
				</div>
				<div ng-show="filterCtrl.visible" class="filter-group" id="filter-date-range">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Date Range</div>
						<div class="filter-group-body">
							<input type="date" name="from" placeholder="yyyy-mm-dd" ng-model="filterCtrl.from" />
							<input type="date" name="to" placeholder="yyyy-mm-dd" ng-model="filterCtrl.to" />
						</div>
					</div>
				</div>
				<div ng-show="filterCtrl.visible" class="filter-group" id="filter-lunch-dinner">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Lunch / Dinner</div>
						<div class="filter-group-body">
							<input type="checkbox" id="lun-check" name="lun" ng-checked="filterCtrl.lunCheck">
							<label ng-click="filterCtrl.toggleLun()">L</label>
							<input type="checkbox" id="din-check" name="din" ng-checked="filterCtrl.dinCheck">
							<label ng-click="filterCtrl.toggleDin()">D</label>
						</div>
					</div>
				</div>
				<div ng-show="filterCtrl.visible" class="filter-group" id="filter-day-of-week">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Day of Week</div>
						<div class="filter-group-body">
							<input type="checkbox" id="mon-check" name="mon" ng-checked="filterCtrl.monCheck">
							<label ng-click="filterCtrl.toggleMon()">Mon</label>
							<input type="checkbox" id="tue-check" name="tue" ng-checked="filterCtrl.tueCheck">
							<label ng-click="filterCtrl.toggleTue()">Tue</label>
							<input type="checkbox" id="wed-check" name="wed" ng-checked="filterCtrl.wedCheck">
							<label ng-click="filterCtrl.toggleWed()">Wed</label>
							<input type="checkbox" id="thu-check" name="thu" ng-checked="filterCtrl.thuCheck">
							<label ng-click="filterCtrl.toggleThu()">Thu</label>
							<input type="checkbox" id="fri-check" name="fri" ng-checked="filterCtrl.friCheck">
							<label ng-click="filterCtrl.toggleFri()">Fri</label>
							<input type="checkbox" id="sat-check" name="sat" ng-checked="filterCtrl.satCheck">
							<label ng-click="filterCtrl.toggleSat()">Sat</label>
							<input type="checkbox" id="sun-check" name="sun" ng-checked="filterCtrl.sunCheck">
							<label ng-click="filterCtrl.toggleSun()">Sun</label>
						</div>
					</div>
				</div>
				<div class="filter-group" id="filter-view-style">
					<div class="filter-group-wrap">
						<div class="filter-group-header">View Style</div>
						<div class="filter-group-body">
							<a class="link-button button-inverse" href="#/shifts/list"><span class="fa fa-fw fa-table"></span></a>
							<a class="link-button" href="#/shifts/grid"><span class="fa fa-fw fa-th-large"></span></a>
						</div>
					</div>
				</div>
			</form>
			<h3 class="filter-message">
				Viewing {{filteredShifts.length}} <span class="{{filterCtrl.lunchDinner ? 'filter-bold' : ''}}">{{filterCtrl.lunchDinner == 'L' ? 'Lunch' : ''}}{{filterCtrl.lunchDinner == 'D' ? 'Dinner' : ''}}</span> shifts on <span class="{{filterCtrl.sDays ? 'filter-bold' : ''}}">{{filterCtrl.sDays || 'any day'}}</span> from <span class="{{filterCtrl.from ? 'filter-bold' : ''}}">{{filterCtrl.from ? (filterCtrl.from | date) : 'any date'}}</span> to <span class="{{filterCtrl.to ? 'filter-bold' : ''}}">{{filterCtrl.to ? (filterCtrl.to | date) : 'any date'}}</span>
			</h3>
			<div ng-show="filteredShifts.length < 1">
				No shifts found
			</div>
			<div id="shifts" ng-hide="filteredShifts.length < 1 || ctrl.error">
				<div class="clickable shift-summary {{shift.dayOfWeek | lowercase}}-shift {{shift.lunchDinner | lowercase}}-shift"
					 ng-repeat="shift in filteredShifts = (ctrl.shifts | isValidShift:{fromDate:filterCtrl.from,toDate:filterCtrl.to,lunchDinner:filterCtrl.lunchDinner,aDays:filterCtrl.aDays} | orderBy:['date','startTime']) track by $index">
					<div class="shift-datetime">
						<div class="shift-date">{{shift.date | date:'EEE, MMM d, yyyy' | placeholder:'Unknown Date'}}</div>
						<div class="shift-time">{{shift.startTime | timeToDate | date:'h:mma' | placeholder:'?:??'}} - {{shift.endTime | timeToDate | date:'h:mma' | placeholder:'?:??'}}</div>
					</div>
					<div class="shift-details">
						<div class="shift-info">
							<div class="label">Sales</div>
							<div class="value">{{shift.sales | currency | placeholder:'-'}}</div>
						</div>
						<div class="shift-info">
							<div class="label">Tips</div>
							<div class="value">{{shift.earnedTips | currency:undefined:0 | placeholder:'-'}}</div>
						</div>
						<div class="shift-info">
							<div class="label">%</div>
							<div class="value">{{shift.tipsPercent | number:1 | placeholder:'-':undefined:'%'}}</div>
						</div>
						<div class="shift-info">
							<div class="label">$/h</div>
							<div class="value">{{shift.hourly | currency | placeholder:'-':undefined:'/h'}}</div>
						</div>
						<a href="#/shift/{{shift.id}}"><span class="link-spanner"></span></a>
					</div>
				</div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
				<div class="filler"></div>
			</div>
		</div>
	</div>
</div>