@font-face {
  font-family: 'caladeabold';
  src: url("../fonts/caladea-bold-webfont.eot");
  src: url("../fonts/caladea-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/caladea-bold-webfont.woff2") format("woff2"), url("../fonts/caladea-bold-webfont.woff") format("woff"), url("../fonts/caladea-bold-webfont.ttf") format("truetype"), url("../fonts/caladea-bold-webfont.svg#caladeabold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'carlitoregular';
  src: url("../fonts/carlito-regular-webfont.eot");
  src: url("../fonts/carlito-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/carlito-regular-webfont.woff2") format("woff2"), url("../fonts/carlito-regular-webfont.woff") format("woff"), url("../fonts/carlito-regular-webfont.ttf") format("truetype"), url("../fonts/carlito-regular-webfont.svg#carlitoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg"); }
/* ############################################
	CLEANUP
############################################ */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, code, img, small, strike, var, b, u, i, center, ol, ul, li, fieldset, form, input, button, textarea, label, legend, table, tbody, tfoot, thead, tr, th, td, footer, header, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

/* ############################################
	LAYOUT
############################################ */
body {
  background-color: #337ab7;
  font-family: sans-serif; }

h1 {
  text-align: center;
  font-family: Cambria, Caladea, CaladeaBold, Georgia, serif;
  font-weight: bold;
  font-size: 1.8em;
  margin: 2% 1%; }

h2 {
  font-family: Cambria, Caladea, CaladeaBold, Georgia, serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0; }

h3 {
  font-size: 1.2em;
  margin: 1em 0; }

#header {
  color: white;
  padding: 2% 1% 1.5% 5%; }
  #header .name {
    display: inline-block;
    font-family: Cambria, Caladea, CaladeaBold, Georgia, serif;
    font-size: 3em;
    font-weight: bold;
    font-variant: small-caps; }
    #header .name a:hover {
      color: white;
      text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.7);
      text-decoration: none; }
  #header ul.menu {
    display: inline-block;
    margin: 0.3em 0.5em; }
    #header ul.menu li {
      display: inline-block;
      margin: 0.5em 0; }
      #header ul.menu li a.active {
        background-color: #285f8f;
        pointer-events: none;
        cursor: default; }
    #header ul.menu .link-button {
      border-color: transparent; }

#content {
  background-color: #eaeaea;
  line-height: 22px;
  padding: 0 3%;
  overflow: hidden; }

#wrapper {
  margin: 2% auto; }

#footer {
  padding: 1.5em; }

.clickable {
  position: relative; }

.clickable:hover {
  border-color: black; }

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

@media screen and (max-width: 700px) {
  h1 {
    margin: 1em 0 0.5em; }

  #wrapper {
    margin-bottom: 1em; } }
/* ############################################
	HOME
############################################ */
.old-links {
  margin: 0 auto; }
  .old-links td {
    padding: 0.3em 0; }
  .old-links .link-button {
    width: 100%; }

/* ############################################
	SHIFT BOX
############################################ */
.shift-datetime {
  padding: 5% 5% 2%;
  border-bottom: 1px solid lightgray;
  text-align: center; }

.shift-details {
  padding: 2% 5% 5%; }

.shift-date {
  font-weight: bold;
  font-variant: small-caps;
  text-align: center; }

.shift-time, .shift-hours-wage {
  display: inline-block; }

hr {
  border-color: lightgray; }

.shift-info .label {
  display: inline-block;
  width: 35%;
  margin-right: 5%;
  margin-bottom: 0;
  font-size: 80%;
  color: #888;
  text-align: right;
  vertical-align: top; }
.shift-info .value {
  display: inline-block;
  text-align: left;
  width: 55%;
  word-wrap: break-word; }

.mon-shift .shift-datetime {
  background-color: rgba(204, 0, 0, 0.1);
  border-color: rgba(204, 0, 0, 0.3); }

.tue-shift .shift-datetime {
  background-color: rgba(204, 204, 0, 0.1);
  border-color: rgba(127, 128, 0, 0.3); }

.wed-shift .shift-datetime {
  background-color: rgba(0, 204, 0, 0.1);
  border-color: rgba(0, 153, 0, 0.3); }

.thu-shift .shift-datetime {
  background-color: rgba(0, 204, 204, 0.1);
  border-color: rgba(0, 153, 153, 0.3); }

.fri-shift .shift-datetime {
  background-color: rgba(0, 0, 204, 0.1);
  border-color: rgba(0, 0, 204, 0.3); }

.sat-shift .shift-datetime {
  background-color: rgba(204, 0, 204, 0.1);
  border-color: rgba(204, 0, 204, 0.3); }

.sun-shift .shift-datetime {
  background-color: rgba(26, 26, 26, 0.1);
  border-color: rgba(26, 26, 26, 0.3); }

.l-shift .label {
  color: rgba(170, 113, 9, 0.8); }

.d-shift .label {
  color: rgba(10, 106, 198, 0.8); }

/* ############################################
	ALL SHIFTS
############################################ */
#shifts {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  margin: -0.5em; }

.shift-summary {
  flex: 1 1 175px;
  -webkit-flex: 1 1 175px;
  margin: 0.5em;
  background-color: white;
  border: 1px solid lightgray; }

.filler {
  flex: 1 1 175px;
  -webkit-flex: 1 1 175px;
  height: 0;
  margin: 0 0.5em; }

/* ############################################
	SHIFT DETAILS
############################################ */
.shift-detailed {
  max-width: 450px;
  margin: 2% auto 1%;
  background-color: white;
  border: 1px solid lightgray; }
  .shift-detailed .shift-date {
    font-size: 1.2em; }
  .shift-detailed .shift-info {
    display: inline-block;
    width: 49%; }
    .shift-detailed .shift-info .value {
      width: 55%; }
  .shift-detailed .full-width {
    width: 98%;
    margin-top: 0.5em; }
    .shift-detailed .full-width .label {
      width: 17.5%;
      margin-right: 2.5%; }
    .shift-detailed .full-width .value {
      width: 78%; }

.shift-buttons {
  display: flex;
  display: -webkit-flex;
  max-width: 450px;
  margin: 0 auto; }

@media screen and (max-width: 500px) {
  .shift-detailed .shift-info {
    width: 98%; }
    .shift-detailed .shift-info .value {
      width: 55%; }
  .shift-detailed .full-width .value {
    width: 78%; } }
/* ############################################
	FORMS
############################################ */
label {
  color: #888; }

input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=checkbox],
input[type=radio] {
  display: none; }

input[type=date] {
  min-width: 10px; }

input[type=checkbox] + label,
input[type=date],
input[type=number],
input[type=color],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=file],
input[type=month],
input[type=number],
input[type=password],
input[type=radio] + label,
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  height: 2.4em;
  padding: 0.4em 0.6em;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px; }

textarea {
  height: 5.4em; }

input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  background-color: grey;
  color: white; }

.link-button,
a.link-button {
  display: inline-block;
  padding: 0.4em 0.6em;
  border-radius: 5px;
  text-align: center;
  background-color: #337ab7;
  color: white;
  border: 1px solid lightgray; }

.link-button:hover,
a.link-button:hover {
  background-color: #4f93ce; }

/* ############################################
	ADD/EDIT FORMS
############################################ */
form.add-form, form.edit-form {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  margin: 2% auto 1%;
  max-width: 600px; }
  form.add-form input, form.add-form textarea, form.edit-form input, form.edit-form textarea {
    width: 100%; }

.form-group {
  margin: 1%; }

.form-group.half-width {
  width: 48%; }

.form-group.full-width {
  width: 98%; }

.button-group {
  border-color: transparent;
  padding-top: 0;
  padding-bottom: 0; }

.link-button.button-inverse {
  background-color: white;
  color: #337ab7; }

.link-button.button-inverse:hover {
  background-color: #e6e6e6; }

.link-button.button-warning {
  background-color: #bf4040;
  color: white; }

.link-button.button-warning:hover {
  background-color: #cc6666; }

.button-narrow {
  margin: 0 25%;
  width: 50%; }

.button-wide {
  margin: 0 10%;
  width: 80%; }

.message-box {
  display: table;
  background-color: white;
  border: 1px solid lightgray;
  padding: 1em;
  margin: 1em 0; }

.success {
  background-color: #e6ffe6;
  border-color: green; }

.error {
  background-color: #ffe5e5;
  border-color: red; }

input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid, form.submitted input.ng-invalid-required {
  border-color: rgba(191, 64, 64, 0.3);
  -webkit-box-shadow: inset 0px 0px 6px -2px red;
  -moz-box-shadow: inset 0px 0px 6px -2px red;
  box-shadow: inset 0px 0px 6px -2px red; }

input.ng-dirty.ng-valid, textarea.ng-dirty.ng-valid, form.submitted input.ng-valid-required {
  border-color: rgba(32, 96, 32, 0.3);
  -webkit-box-shadow: inset 0px 0px 6px -2px green;
  -moz-box-shadow: inset 0px 0px 6px -2px green;
  box-shadow: inset 0px 0px 6px -2px green; }

/* ############################################
	FILTER FORM
############################################ */
form.filter-form {
  margin: 2% -0.5em 1%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center; }
  form.filter-form input[type=date] {
    min-width: 165px; }

.filter-group {
  padding: 0.25em;
  margin: 0.5em;
  border: 1px solid lightgray;
  border-radius: 5px; }

.filter-group-wrap {
  text-align: center;
  margin: 0 auto; }

.filter-group-header {
  color: #888;
  font-size: 80%;
  font-variant: small-caps;
  font-weight: bold;
  width: 100%;
  text-align: center; }

.filter-group-body {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  -webkit-justify-content: center; }
  .filter-group-body input[type=date],
  .filter-group-body input[type=checkbox] + label,
  .filter-group-body .link-button {
    flex: 0 0 auto;
    width: auto;
    margin: 0.25em; }
  .filter-group-body input[type=checkbox] + label {
    text-align: center;
    font-family: Consolas, Inconsolata, Monaco, "Lucida Console", "DejaVu Sans Mono", monospace;
    font-variant: small-caps;
    font-weight: bold; }

#filter-buttons .link-button {
  min-width: 60px; }

#filter-lunch-dinner label {
  min-width: 38px; }

span.filter-bold {
  font-variant: small-caps;
  border-radius: 5px;
  background-color: grey;
  color: white;
  padding: 0.1em 0.3em; }

.filter-message {
  line-height: 1.6em; }

#mon-check + label {
  background-color: white;
  color: rgba(204, 0, 0, 0.6); }

#mon-check:checked + label {
  background-color: rgba(204, 0, 0, 0.3);
  color: white; }

#tue-check + label {
  background-color: white;
  color: rgba(127, 128, 0, 0.6); }

#tue-check:checked + label {
  background-color: rgba(204, 204, 0, 0.3);
  color: white; }

#wed-check + label {
  background-color: white;
  color: rgba(0, 153, 0, 0.6); }

#wed-check:checked + label {
  background-color: rgba(0, 204, 0, 0.3);
  color: white; }

#thu-check + label {
  background-color: white;
  color: rgba(0, 153, 153, 0.6); }

#thu-check:checked + label {
  background-color: rgba(0, 204, 204, 0.3);
  color: white; }

#fri-check + label {
  background-color: white;
  color: rgba(0, 0, 204, 0.6); }

#fri-check:checked + label {
  background-color: rgba(0, 0, 204, 0.3);
  color: white; }

#sat-check + label {
  background-color: white;
  color: rgba(204, 0, 204, 0.6); }

#sat-check:checked + label {
  background-color: rgba(204, 0, 204, 0.3);
  color: white; }

#sun-check + label {
  background-color: white;
  color: rgba(26, 26, 26, 0.6); }

#sun-check:checked + label {
  background-color: rgba(26, 26, 26, 0.3);
  color: white; }

#lun-check + label {
  background-color: white;
  color: rgba(153, 99, 0, 0.6); }

#lun-check:checked + label {
  background-color: rgba(204, 132, 0, 0.3);
  color: white; }

#din-check + label {
  background-color: white;
  color: rgba(0, 119, 234, 0.6); }

#din-check:checked + label {
  background-color: rgba(0, 119, 234, 0.3);
  color: white; }

@media screen and (max-width: 600px) {
  form.filter-form {
    display: block; } }
/* ############################################
	WEEKLY SHIFT SUMMARY
############################################ */
.week-group {
  width: 100%;
  text-align: left;
  border: 3px solid #888; }
  .week-group .shift-summary {
    width: auto;
    min-width: 175px;
    flex: 0 0 auto; }

/* ############################################
	TABLES
############################################ */
div.mobile-table {
  width: 100%;
  overflow-x: auto; }

.summary-table {
  margin: 0 auto; }
  .summary-table th {
    background-color: #666;
    color: white;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle; }
  .summary-table td {
    background-color: #ddd;
    color: black;
    padding: 0.35em 0.5em;
    white-space: nowrap;
    text-align: right;
    vertical-align: middle; }
  .summary-table th.sortable {
    cursor: pointer; }
  .summary-table th.sortable:hover {
    color: black; }
  .summary-table th.tot-cell {
    color: #bbb; }
  .summary-table td.tot-cell {
    color: #777; }
  .summary-table th.left-align, .summary-table td.left-align {
    text-align: left; }
  .summary-table th.right-align, .summary-table td.right-align {
    text-align: right; }
  .summary-table tr.alt td, .summary-table tbody.alt td {
    background-color: #bbb; }
  .summary-table tr.alt .tot-cell, .summary-table tbody.alt .tot-cell {
    color: #666; }
  .summary-table tr.summary td {
    background-color: #888; }
  .summary-table tr.summary .tot-cell {
    color: #444; }
  .summary-table i {
    font-style: italic;
    font-size: 80%;
    font-variant: small-caps; }

th.sort-field {
  background-color: #337ab7;
  color: white;
  box-shadow: inset 0 -4px 0 0 black; }

thead.sort-reverse th.sort-field {
  box-shadow: inset 0 4px 0 0 black; }

td.lun-avg-cell {
  background-color: rgba(204, 132, 0, 0.6); }

td.lun-tot-cell {
  background-color: rgba(204, 132, 0, 0.4); }

td.din-avg-cell {
  background-color: rgba(0, 119, 234, 0.6); }

td.din-tot-cell {
  background-color: rgba(0, 119, 234, 0.4); }

td.bth-avg-cell {
  background-color: rgba(112, 26, 192, 0.6); }

td.bth-tot-cell {
  background-color: rgba(112, 26, 192, 0.4); }

td.spl-avg-cell {
  background-color: rgba(120, 62, 34, 0.6); }

td.spl-tot-cell {
  background-color: rgba(120, 62, 34, 0.4); }

td.wkl-avg-cell {
  background-color: rgba(167, 167, 167, 0.9); }

td.wkl-tot-cell {
  background-color: rgba(167, 167, 167, 0.6); }

td.mth-avg-cell {
  background-color: rgba(141, 141, 141, 0.9); }

td.mth-tot-cell {
  background-color: rgba(141, 141, 141, 0.6); }

td.mon-avg-cell {
  background-color: rgba(204, 0, 0, 0.4); }

td.mon-tot-cell {
  background-color: rgba(204, 0, 0, 0.25); }

td.tue-avg-cell {
  background-color: rgba(204, 204, 0, 0.5); }

td.tue-tot-cell {
  background-color: rgba(204, 204, 0, 0.3); }

td.wed-avg-cell {
  background-color: rgba(0, 204, 0, 0.5); }

td.wed-tot-cell {
  background-color: rgba(0, 204, 0, 0.3); }

td.thu-avg-cell {
  background-color: rgba(0, 204, 204, 0.5); }

td.thu-tot-cell {
  background-color: rgba(0, 204, 204, 0.3); }

td.fri-avg-cell {
  background-color: rgba(0, 0, 204, 0.4); }

td.fri-tot-cell {
  background-color: rgba(0, 0, 204, 0.25); }

td.sat-avg-cell {
  background-color: rgba(204, 0, 204, 0.4); }

td.sat-tot-cell {
  background-color: rgba(204, 0, 204, 0.25); }

td.sun-avg-cell {
  background-color: rgba(26, 26, 26, 0.4); }

td.sun-tot-cell {
  background-color: rgba(26, 26, 26, 0.25); }

tr.l-row .ld-cell {
  color: #956204; }

tr.d-row .ld-cell {
  color: #056acb; }

tr.mon-row .day-cell {
  color: #ae0404; }

tr.tue-row .day-cell {
  color: #7c7c03; }

tr.wed-row .day-cell {
  color: #049504; }

tr.thu-row .day-cell {
  color: #049595; }

tr.fri-row .day-cell {
  color: #0404ae; }

tr.sat-row .day-cell {
  color: #ae04ae; }

tr.sun-row .day-cell {
  color: #595959; }

/* ############################################
	OTHER
############################################ */
a.debug {
  color: lime;
  font-weight: bolder;
  font-family: Consolas, Inconsolata, Monaco, "Lucida Console", "DejaVu Sans Mono", monospace;
  padding: 0.5em; }

a.debug:hover {
  background-color: black; }

/*# sourceMappingURL=style.css.map */
