<div ng-controller="SummaryController as ctrl">
	<h1>Summary</h1>
	<div class="error message-box" ng-show="ctrl.error">{{ctrl.error}}</div>
	<div ng-hide="ctrl.error">
		<div ng-controller="FiltersController as filtersCtrl">
			<form class="filter-form">
				<div class="filter-group" id="filter-buttons">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Summary Type</div>
						<div class="filter-group-body">
							<button class="link-button" ng-class="{'button-inverse': filtersCtrl.filters.summaryType.name != 'Lunch/Dinner'}" ng-click="filtersCtrl.changeSummaryType('lunchDinner'); ctrl.updateSummaryData();">Lunch/Dinner</button>
							<button class="link-button" ng-class="{'button-inverse': filtersCtrl.filters.summaryType.name != 'Day of Week'}" ng-click="filtersCtrl.changeSummaryType('dayOfWeek'); ctrl.updateSummaryData();">Day Of Week</button>
							<button class="link-button" ng-class="{'button-inverse': filtersCtrl.filters.summaryType.name != 'Section'}" ng-click="filtersCtrl.changeSummaryType('section'); ctrl.updateSummaryData();">Section</button>
							<button class="link-button" ng-class="{'button-inverse': filtersCtrl.filters.summaryType.name != 'Start Time'}" ng-click="filtersCtrl.changeSummaryType('startTime'); ctrl.updateSummaryData();">Start Time</button>
							<button class="link-button" ng-class="{'button-inverse': filtersCtrl.filters.summaryType.name != 'Cut Order'}" ng-click="filtersCtrl.changeSummaryType('cut'); ctrl.updateSummaryData();">Cut</button>
							<button class="link-button" ng-class="{'button-inverse': filtersCtrl.filters.summaryType.name != 'Shift Length'}" ng-click="filtersCtrl.changeSummaryType('halfhours'); ctrl.updateSummaryData();">Shift Length</button>
						</div>
					</div>
				</div>
				<div class="filter-group" id="filter-visible">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Filters</div>
						<div class="filter-group-body">
							<div ng-hide="filtersCtrl.filters.visible" class="link-button button-inverse" ng-click="filtersCtrl.setFilter('visible',true)"><span class="fa fa-fw fa-eye"></span></div>
							<div ng-show="filtersCtrl.filters.visible" class="link-button" ng-click="filtersCtrl.setFilter('visible',false)"><span class="fa fa-fw fa-eye-slash"></span></div>
							<div class="link-button button-inverse" ng-click="filtersCtrl.switchFontSize()">
								<span class="fa-stack fa-sm">
									<span ng-class="{'invisible':filtersCtrl.filters.fontSize != 3}" class="fa fa-fw fa-stack-2x fa-font"></span>
									<span ng-class="{'invisible':filtersCtrl.filters.fontSize != 2}" class="fa fa-fw fa-stack-1x fa-font" style="font-size: 1.5em"></span>
									<span ng-class="{'invisible':filtersCtrl.filters.fontSize != 1}" class="fa fa-fw fa-stack-1x fa-font"></span>
									<span ng-class="{'invisible':filtersCtrl.filters.fontSize != 0}" class="fa fa-fw fa-stack-1x fa-font" style="font-size: 5px"></span>
								</span>
							</div>
							<div class="link-button button-inverse" ng-click="filtersCtrl.resetFilters()"><span class="fa fa-fw fa-undo"></span></div>
						</div>
					</div>
				</div>
				<div ng-show="filtersCtrl.filters.visible" class="filter-group" id="filter-summary-rows">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Row Type</div>
						<div class="filter-group-body">
							<div class="link-button button-inverse label" ng-class="{'button-inverse': filtersCtrl.filters.rowType.summary != 'tot'}" ng-click="filtersCtrl.toggleRowType('summary','tot')">TOT</div>
							<div class="link-button button-inverse label" ng-class="{'button-inverse': filtersCtrl.filters.rowType.summary != 'avg'}" ng-click="filtersCtrl.toggleRowType('summary','avg')">AVG</div>
						</div>
					</div>
				</div>
				<div ng-show="filtersCtrl.filters.visible" class="filter-group" id="filter-date-range">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Date Range</div>
						<div class="filter-group-body">
							<input type="date" name="from" placeholder="yyyy-mm-dd" ng-model="filtersCtrl.filters.from" ng-change="filtersCtrl.updateFilters(); ctrl.updateSummaryData()"/>
							<input type="date" name="to" placeholder="yyyy-mm-dd" ng-model="filtersCtrl.filters.to" ng-change="filtersCtrl.updateFilters(); ctrl.updateSummaryData()"/>
						</div>
					</div>
				</div>
				<div ng-show="filtersCtrl.filters.visible" class="filter-group" id="filter-lunch-dinner">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Lun/Din</div>
						<div class="filter-group-body">
							<input type="checkbox" id="lun-check" name="lun" ng-checked="filtersCtrl.filters.lun">
							<label ng-click="filtersCtrl.toggleLD('lun'); ctrl.updateSummaryData();">L</label>
							<input type="checkbox" id="din-check" name="din" ng-checked="filtersCtrl.filters.din">
							<label ng-click="filtersCtrl.toggleLD('din'); ctrl.updateSummaryData();">D</label>
						</div>
					</div>
				</div>
			</form>
			<h3 class="filter-message">
				Viewing <span class="filter-bold" ng-if="filtersCtrl.filters.summaryType">{{filtersCtrl.filters.summaryType.name}}</span> summary for <span class="{{filtersCtrl.filters.lunchDinner ? 'filter-bold' : ''}}">{{filtersCtrl.filters.lunchDinner == 'L' ? 'Lunch' : ''}}{{filtersCtrl.filters.lunchDinner == 'D' ? 'Dinner' : ''}}</span> shifts from <span class="{{filtersCtrl.filters.from ? 'filter-bold' : ''}}">{{filtersCtrl.filters.from ? (filtersCtrl.filters.from | date) : 'any date'}}</span> to <span class="{{filtersCtrl.filters.to ? 'filter-bold' : ''}}">{{filtersCtrl.filters.to ? (filtersCtrl.filters.to | date) : 'any date'}}</span>
			</h3>
			<div class="mobile-table" ng-class="{'size0':filtersCtrl.filters.fontSize == 0, 'size1':filtersCtrl.filters.fontSize == 1, 'size2':filtersCtrl.filters.fontSize == 2, 'size3':filtersCtrl.filters.fontSize == 3}">
				<table class="summary-table">
					<thead ng-class="{'sort-reverse':filtersCtrl.filters.reverse.summary}">
						<tr ng-show="filtersCtrl.filters.rowType.summary != 'tot'">
							<th colspan="2" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary',filtersCtrl.filters.summaryType.sort)}" 
								ng-click="filtersCtrl.changeSort('summary',filtersCtrl.filters.summaryType.sort)"><span class="header-spacer"></span>Type</th>
							<th ng-class="{'sort-field':filtersCtrl.isSort('summary','count')}" 
								ng-click="filtersCtrl.changeSort('summary','count')">Shifts</th>
							<th><i>avg</i></th>
							<th ng-if="ctrl.prefs.hours" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','avgHours')}" 
								ng-click="filtersCtrl.changeSort('summary','avgHours')">Hours</th>
							<th ng-if="ctrl.prefs.earnedWage" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','avgWage')}" 
								ng-click="filtersCtrl.changeSort('summary','avgWage')">Wage</th>
							<th ng-if="ctrl.prefs.earnedTips" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','avgTips')}" 
								ng-click="filtersCtrl.changeSort('summary','avgTips')">Tips</th>
							<th ng-if="ctrl.prefs.earnedTotal" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','avgEarned')}" 
								ng-click="filtersCtrl.changeSort('summary','avgEarned')">Earned</th>
							<th ng-if="ctrl.prefs.sales" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','avgSales')}" 
								ng-click="filtersCtrl.changeSort('summary','avgSales')">Sales</th>
							<th ng-if="ctrl.prefs.tipout" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','avgTipout')}" 
								ng-click="filtersCtrl.changeSort('summary','avgTipout')">T/O</th>
							<th ng-if="ctrl.prefs.covers" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','avgCovers')}" 
								ng-click="filtersCtrl.changeSort('summary','avgCovers')">Cov</th>
							<th ng-if="ctrl.prefs.campHours" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','avgCampHours')}" 
								ng-click="filtersCtrl.changeSort('summary','avgCampHours')">Camp</th>
							<th ng-if="ctrl.prefs.salesPerHour" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','salesPerHour')}" 
								ng-click="filtersCtrl.changeSort('summary','salesPerHour')">Sales/h</th>
							<th ng-if="ctrl.prefs.salesPerCover" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','salesPerCover')}" 
								ng-click="filtersCtrl.changeSort('summary','salesPerCover')">Sales/cov</th>
							<th ng-if="ctrl.prefs.tipsPercent" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','tipsPercent')}" 
								ng-click="filtersCtrl.changeSort('summary','tipsPercent')">%Tips</th>
							<th ng-if="ctrl.prefs.tipoutPercent" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','tipoutPercent')}" 
								ng-click="filtersCtrl.changeSort('summary','tipoutPercent')">%T/O</th>
							<th ng-if="ctrl.prefs.tipsVsWage" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','tipsVsWage')}" 
								ng-click="filtersCtrl.changeSort('summary','tipsVsWage')">%TvsW</th>
							<th ng-if="ctrl.prefs.hourly" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','hourly')}" 
								ng-click="filtersCtrl.changeSort('summary','hourly')">$/h</th>
						</tr>
						<tr ng-show="filtersCtrl.filters.rowType.summary == 'all'">
							<th colspan="3"><span class="header-spacer"></span></th>
							<th class="tot-cell"><i>tot</i></th>
							<th ng-if="ctrl.prefs.hours" class="sortable tot-cell" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totHours')}" 
								ng-click="filtersCtrl.changeSort('summary','totHours')">Hours</th>
							<th ng-if="ctrl.prefs.earnedWage" class="sortable tot-cell" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totWage')}" 
								ng-click="filtersCtrl.changeSort('summary','totWage')">Wage</th>
							<th ng-if="ctrl.prefs.earnedTips" class="sortable tot-cell" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totTips')}" 
								ng-click="filtersCtrl.changeSort('summary','totTips')">Tips</th>
							<th ng-if="ctrl.prefs.earnedTotal" class="sortable tot-cell" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totEarned')}" 
								ng-click="filtersCtrl.changeSort('summary','totEarned')">Earned</th>
							<th ng-if="ctrl.prefs.sales" class="sortable tot-cell" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totSales')}" 
								ng-click="filtersCtrl.changeSort('summary','totSales')">Sales</th>
							<th ng-if="ctrl.prefs.tipout" class="sortable tot-cell" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totTipout')}" 
								ng-click="filtersCtrl.changeSort('summary','totTipout')">Tipout</th>
							<th ng-if="ctrl.prefs.covers" class="sortable tot-cell" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totCovers')}" 
								ng-click="filtersCtrl.changeSort('summary','totCovers')">Cov</th>
							<th ng-if="ctrl.prefs.campHours" class="sortable tot-cell" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totCampHours')}" 
								ng-click="filtersCtrl.changeSort('summary','totCampHours')">Camp</th>
							<th ng-if="ctrl.prefs.salesPerHour" class="tot-cell"></th>
							<th ng-if="ctrl.prefs.salesPerCover" class="tot-cell"></th>
							<th ng-if="ctrl.prefs.tipsPercent" class="tot-cell"></th>
							<th ng-if="ctrl.prefs.tipoutPercent" class="tot-cell"></th>
							<th ng-if="ctrl.prefs.tipsVsWage" class="tot-cell"></th>
							<th ng-if="ctrl.prefs.hourly" class="tot-cell"></th>
						</tr>
						<tr ng-show="filtersCtrl.filters.rowType.summary == 'tot'">
							<th colspan="2" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary',filtersCtrl.filters.summaryType.sort)}" 
								ng-click="filtersCtrl.changeSort('summary',filtersCtrl.filters.summaryType.sort)"><span class="header-spacer"></span>Type</th>
							<th ng-class="{'sort-field':filtersCtrl.isSort('summary','count')}" 
								ng-click="filtersCtrl.changeSort('summary','count')">Shifts</th>
							<th><i>tot</i></th>
							<th ng-if="ctrl.prefs.hours" class="sortable" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totHours')}" 
								ng-click="filtersCtrl.changeSort('summary','totHours')">Hours</th>
							<th ng-if="ctrl.prefs.earnedWage" class="sortable" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totWage')}" 
								ng-click="filtersCtrl.changeSort('summary','totWage')">Wage</th>
							<th ng-if="ctrl.prefs.earnedTips" class="sortable" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totTips')}" 
								ng-click="filtersCtrl.changeSort('summary','totTips')">Tips</th>
							<th ng-if="ctrl.prefs.earnedTotal" class="sortable" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totEarned')}" 
								ng-click="filtersCtrl.changeSort('summary','totEarned')">Earned</th>
							<th ng-if="ctrl.prefs.sales" class="sortable" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totSales')}" 
								ng-click="filtersCtrl.changeSort('summary','totSales')">Sales</th>
							<th ng-if="ctrl.prefs.tipout" class="sortable" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totTipout')}" 
								ng-click="filtersCtrl.changeSort('summary','totTipout')">Tipout</th>
							<th ng-if="ctrl.prefs.covers" class="sortable" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totCovers')}" 
								ng-click="filtersCtrl.changeSort('summary','totCovers')">Cov</th>
							<th ng-if="ctrl.prefs.campHours" class="sortable" ng-class="{reverse:filtersCtrl.filters.reverse.summary, 'sort-field':filtersCtrl.isSort('summary','totCampHours')}" 
								ng-click="filtersCtrl.changeSort('summary','totCampHours')">Camp</th>
							<th ng-if="ctrl.prefs.salesPerHour" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','salesPerHour')}" 
								ng-click="filtersCtrl.changeSort('summary','salesPerHour')">Sales/h</th>
							<th ng-if="ctrl.prefs.salesPerCover" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','salesPerCover')}" 
								ng-click="filtersCtrl.changeSort('summary','salesPerCover')">Sales/cov</th>
							<th ng-if="ctrl.prefs.tipsPercent" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','tipsPercent')}" 
								ng-click="filtersCtrl.changeSort('summary','tipsPercent')">%Tips</th>
							<th ng-if="ctrl.prefs.tipoutPercent" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','tipoutPercent')}" 
								ng-click="filtersCtrl.changeSort('summary','tipoutPercent')">%T/O</th>
							<th ng-if="ctrl.prefs.tipsVsWage" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','tipsVsWage')}" 
								ng-click="filtersCtrl.changeSort('summary','tipsVsWage')">%TvsW</th>
							<th ng-if="ctrl.prefs.hourly" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('summary','hourly')}" 
								ng-click="filtersCtrl.changeSort('summary','hourly')">$/h</th>
						</tr>
					</thead>
					<tbody ng-repeat="summary in ctrl.summaries | orderBy:filtersCtrl.filters.sort.summary:filtersCtrl.filters.reverse.summary | filter:{lunchDinner:filtersCtrl.filters.lunchDinner}" ng-class-even="'alt'">
						<tr class="{{summary.dayOfWeek | lowercase}}-row {{summary.lunchDinner | lowercase}}-row"
						 	ng-show="filtersCtrl.filters.rowType.summary != 'tot'">
							<td><span class="ld-cell">{{summary.lunchDinner}}</span></td>
							<td><span class="day-cell">{{summary.dayOfWeek}}</span>{{summary.section}}{{summary.startTime | timeToDate | date:'h:mma'}}{{summary.cut}}{{summary.halfhours}} </td>
							<td>{{summary.count}}</td>
							<td><i>avg</i></td>
							<td ng-if="ctrl.prefs.hours">{{summary.avgHours | number:2}}h</td>
							<td ng-if="ctrl.prefs.earnedWage">{{summary.avgWage | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.earnedTips">{{summary.avgTips | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.earnedTotal">{{summary.avgEarned | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.sales">{{summary.avgSales | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.tipout">{{summary.avgTipout | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.covers">{{summary.avgCovers | number:0}}</td>
							<td ng-if="ctrl.prefs.campHours">{{summary.avgCampHours | number:2}}h</td>
							<td ng-if="ctrl.prefs.salesPerHour">{{summary.salesPerHour | currency:undefined:0}}/h</td>
							<td ng-if="ctrl.prefs.salesPerCover">{{summary.salesPerCover | currency:undefined:0}}/cov</td>
							<td ng-if="ctrl.prefs.tipsPercent">{{summary.tipsPercent | number:1}}%</td>
							<td ng-if="ctrl.prefs.tipoutPercent">{{summary.tipoutPercent | number:1}}%</td>
							<td ng-if="ctrl.prefs.tipsVsWage">{{summary.tipsVsWage | number:0}}%</td>
							<td ng-if="ctrl.prefs.hourly">{{summary.hourly | currency}}/h</td>
						</tr>
						<tr ng-show="filtersCtrl.filters.rowType.summary == 'all'">
							<td colspan="3"></td>
							<td class="tot-cell"><i>tot</i></td>
							<td ng-if="ctrl.prefs.hours" class="tot-cell">{{summary.totHours | number:2}}h</td>
							<td ng-if="ctrl.prefs.earnedWage" class="tot-cell">{{summary.totWage | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.earnedTips" class="tot-cell">{{summary.totTips | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.earnedTotal" class="tot-cell">{{summary.totEarned | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.sales" class="tot-cell">{{summary.totSales | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.tipout" class="tot-cell">{{summary.totTipout | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.covers" class="tot-cell">{{summary.totCovers | number:0}}</td>
							<td ng-if="ctrl.prefs.campHours" class="tot-cell">{{summary.totCampHours | number:2}}h</td>
							<td ng-if="ctrl.prefs.salesPerHour"></td>
							<td ng-if="ctrl.prefs.salesPerCover"></td>
							<td ng-if="ctrl.prefs.tipsPercent"></td>
							<td ng-if="ctrl.prefs.tipoutPercent"></td>
							<td ng-if="ctrl.prefs.tipsVsWage"></td>
							<td ng-if="ctrl.prefs.hourly"></td>
						</tr>
						<tr class="{{summary.dayOfWeek | lowercase}}-row {{summary.lunchDinner | lowercase}}-row"
						 	ng-show="filtersCtrl.filters.rowType.summary == 'tot'">
							<td><span class="ld-cell">{{summary.lunchDinner}}</span></td>
							<td><span class="day-cell">{{summary.dayOfWeek}}</span>{{summary.section}}{{summary.startTime | timeToDate | date:'h:mma'}}{{summary.cut}}{{summary.halfhours}} </td>
							<td>{{summary.count}}</td>
							<td><i>tot</i></td>
							<td ng-if="ctrl.prefs.hours">{{summary.totHours | number:2}}h</td>
							<td ng-if="ctrl.prefs.earnedWage">{{summary.totWage | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.earnedTips">{{summary.totTips | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.earnedTotal">{{summary.totEarned | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.sales">{{summary.totSales | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.tipout">{{summary.totTipout | currency:undefined:0}}</td>
							<td ng-if="ctrl.prefs.covers">{{summary.totCovers | number:0}}</td>
							<td ng-if="ctrl.prefs.campHours">{{summary.totCampHours | number:2}}h</td>
							<td ng-if="ctrl.prefs.salesPerHour">{{summary.salesPerHour | currency:undefined:0}}/h</td>
							<td ng-if="ctrl.prefs.salesPerCover">{{summary.salesPerCover | currency:undefined:0}}/cov</td>
							<td ng-if="ctrl.prefs.tipsPercent">{{summary.tipsPercent | number:1}}%</td>
							<td ng-if="ctrl.prefs.tipoutPercent">{{summary.tipoutPercent | number:1}}%</td>
							<td ng-if="ctrl.prefs.tipsVsWage">{{summary.tipsVsWage | number:0}}%</td>
							<td ng-if="ctrl.prefs.hourly">{{summary.hourly | currency}}/h</td>
						</tr>
					</tbody>
					<tr class="summary">
						<td colspan="3" rowspan="2"><i>all {{ctrl.summaryTotal.count | number:0}} shifts</i></td>
						<td><i>avg</i></td>
						<td ng-if="ctrl.prefs.hours">{{ctrl.summaryTotal.avgHours | number:2}}h</td>
						<td ng-if="ctrl.prefs.earnedWage">{{ctrl.summaryTotal.avgWage | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.earnedTips">{{ctrl.summaryTotal.avgTips | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.earnedTotal">{{ctrl.summaryTotal.avgEarned | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.sales">{{ctrl.summaryTotal.avgSales | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.tipout">{{ctrl.summaryTotal.avgTipout | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.covers">{{ctrl.summaryTotal.avgCovers | number:1}}</td>
						<td ng-if="ctrl.prefs.campHours">{{ctrl.summaryTotal.avgCampHours | number:2}}h</td>
						<td ng-if="ctrl.prefs.salesPerHour">{{ctrl.summaryTotal.salesPerHour | currency:undefined:0}}/h</td>
						<td ng-if="ctrl.prefs.salesPerCover">{{ctrl.summaryTotal.salesPerCover | currency:undefined:0}}/cov</td>
						<td ng-if="ctrl.prefs.tipsPercent">{{ctrl.summaryTotal.tipsPercent | number:1}}%</td>
						<td ng-if="ctrl.prefs.tipoutPercent">{{ctrl.summaryTotal.tipoutPercent | number:1}}%</td>
						<td ng-if="ctrl.prefs.tipsVsWage">{{ctrl.summaryTotal.tipsVsWage | number:0}}%</td>
						<td ng-if="ctrl.prefs.hourly">{{ctrl.summaryTotal.hourly | currency}}/h</td>
					</tr>
					<tr class="summary">
						<td class="tot-cell"><i>tot</i></td>
						<td ng-if="ctrl.prefs.hours" class="tot-cell">{{ctrl.summaryTotal.totHours | number:0}}h</td>
						<td ng-if="ctrl.prefs.earnedWage" class="tot-cell">{{ctrl.summaryTotal.totWage | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.earnedTips" class="tot-cell">{{ctrl.summaryTotal.totTips | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.earnedTotal" class="tot-cell">{{ctrl.summaryTotal.totEarned | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.sales" class="tot-cell">{{ctrl.summaryTotal.totSales | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.tipout" class="tot-cell">{{ctrl.summaryTotal.totTipout | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.covers" class="tot-cell">{{ctrl.summaryTotal.totCovers | number:0}}</td>
						<td ng-if="ctrl.prefs.campHours" class="tot-cell">{{ctrl.summaryTotal.totCampHours | number:2}}h</td>
						<td ng-if="ctrl.prefs.salesPerHour" class="tot-cell"></td>
						<td ng-if="ctrl.prefs.salesPerCover" class="tot-cell"></td>
						<td ng-if="ctrl.prefs.tipsPercent" class="tot-cell"></td>
						<td ng-if="ctrl.prefs.tipoutPercent" class="tot-cell"></td>
						<td ng-if="ctrl.prefs.tipsVsWage" class="tot-cell"></td>
						<td ng-if="ctrl.prefs.hourly" class="tot-cell"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>