<div ng-controller="SummaryPeriodController as ctrl">
	<h1>Period Summary</h1>
	<div class="error message-box" ng-show="ctrl.error">{{ctrl.error}}</div>
	<div ng-hide="ctrl.error">
		<div ng-controller="FiltersController as filtersCtrl">
			<form class="filter-form">
				<div class="filter-group" id="filter-buttons">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Period Type</div>
						<div class="filter-group-body">
							<button class="link-button" ng-class="{'button-inverse': filtersCtrl.filters.periodType.name != 'Weekly'}" ng-click="filtersCtrl.changePeriodType('weekly'); ctrl.updatePeriodData();">Weekly</button>
							<button class="link-button" ng-class="{'button-inverse': filtersCtrl.filters.periodType.name != 'Monthly'}" ng-click="filtersCtrl.changePeriodType('monthly'); ctrl.updatePeriodData();">Monthly</button>
						</div>
					</div>
				</div>
				<div class="filter-group" id="filter-visible">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Filters</div>
						<div class="filter-group-body">
							<div ng-hide="filtersCtrl.filters.visible" class="link-button button-inverse" ng-click="filtersCtrl.setFilter('visible',true)"><span class="fa fa-fw fa-eye"></span></div>
							<div ng-show="filtersCtrl.filters.visible" class="link-button" ng-click="filtersCtrl.setFilter('visible',false)"><span class="fa fa-fw fa-eye-slash"></span></div>
							<div class="link-button button-inverse" ng-click="filtersCtrl.switchFontSize()">
								<span class="fa-stack fa-sm">
									<span ng-class="{'invisible':filtersCtrl.filters.fontSize != 3}" class="fa fa-fw fa-stack-2x fa-font"></span>
									<span ng-class="{'invisible':filtersCtrl.filters.fontSize != 2}" class="fa fa-fw fa-stack-1x fa-font" style="font-size: 1.5em"></span>
									<span ng-class="{'invisible':filtersCtrl.filters.fontSize != 1}" class="fa fa-fw fa-stack-1x fa-font"></span>
									<span ng-class="{'invisible':filtersCtrl.filters.fontSize != 0}" class="fa fa-fw fa-stack-1x fa-font" style="font-size: 5px"></span>
								</span>
							</div>
							<div class="link-button button-inverse" ng-click="filtersCtrl.resetFilters()"><span class="fa fa-fw fa-undo"></span></div>
						</div>
					</div>
				</div>
				<div ng-show="filtersCtrl.filters.visible" class="filter-group" id="filter-date-range">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Date Range</div>
						<div class="filter-group-body">
							<input type="date" name="from" placeholder="yyyy-mm-dd" ng-model="filtersCtrl.filters.from" ng-change="ctrl.updatePeriodData();" />
							<input type="date" name="to" placeholder="yyyy-mm-dd" ng-model="filtersCtrl.filters.to" ng-change="ctrl.updatePeriodData();" />
						</div>
					</div>
				</div>
				<div ng-show="filtersCtrl.filters.visible" class="filter-group" id="filter-lunch-dinner">
					<div class="filter-group-wrap">
						<div class="filter-group-header">Lun/Din</div>
						<div class="filter-group-body">
							<input type="checkbox" id="lun-check" name="lun" ng-checked="filtersCtrl.filters.lun">
							<label ng-click="filtersCtrl.toggleLD('lun'); ctrl.updatePeriodData();">L</label>
							<input type="checkbox" id="din-check" name="din" ng-checked="filtersCtrl.filters.din">
							<label ng-click="filtersCtrl.toggleLD('din'); ctrl.updatePeriodData();">D</label>
						</div>
					</div>
				</div>
			</form>
			<h3 class="filter-message">
				Viewing <span class="filter-bold" ng-if="filtersCtrl.filters.periodType">{{filtersCtrl.filters.periodType.name}}</span> summary for <span class="{{filtersCtrl.filters.lunchDinner ? 'filter-bold' : ''}}">{{filtersCtrl.filters.lunchDinner == 'L' ? 'Lunch' : ''}}{{filtersCtrl.filters.lunchDinner == 'D' ? 'Dinner' : ''}}</span> shifts from <span class="{{filtersCtrl.filters.from ? 'filter-bold' : ''}}">{{filtersCtrl.filters.from ? (filtersCtrl.filters.from | date) : 'any date'}}</span> to <span class="{{filtersCtrl.filters.to ? 'filter-bold' : ''}}">{{filtersCtrl.filters.to ? (filtersCtrl.filters.to | date) : 'any date'}}</span>
			</h3>
			<div class="mobile-table" ng-class="{'size0':filtersCtrl.filters.fontSize == 0, 'size1':filtersCtrl.filters.fontSize == 1, 'size2':filtersCtrl.filters.fontSize == 2, 'size3':filtersCtrl.filters.fontSize == 3}">
				<table class="summary-table">
					<thead ng-class="{'sort-reverse':filtersCtrl.filters.reverse.period}">
						<tr>
							<th class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period',filtersCtrl.filters.periodType.sort)}" 
								ng-click="filtersCtrl.changeSort('period',filtersCtrl.filters.periodType.sort)"><span class="header-spacer"></span>Period</th>
							<th ng-if="ctrl.prefs.shifts" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','shifts')}" 
								ng-click="filtersCtrl.changeSort('period','shifts')">#</th>
							<th ng-if="ctrl.prefs.hours" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','hours')}" 
								ng-click="filtersCtrl.changeSort('period','hours')">Hours</th>
							<th ng-if="ctrl.prefs.earnedWage" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','earnedWage')}" 
								ng-click="filtersCtrl.changeSort('period','earnedWage')">Wage</th>
							<th ng-if="ctrl.prefs.earnedTips" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','earnedTips')}" 
								ng-click="filtersCtrl.changeSort('period','earnedTips')">Tips</th>
							<th ng-if="ctrl.prefs.earnedTotal" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','earnedTotal')}" 
								ng-click="filtersCtrl.changeSort('period','earnedTotal')">Earned</th>
							<th ng-if="ctrl.prefs.sales" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','sales')}" 
								ng-click="filtersCtrl.changeSort('period','sales')">Sales</th>
							<th ng-if="ctrl.prefs.tipout" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','tipout')}" 
								ng-click="filtersCtrl.changeSort('period','tipout')">T/O</th>
							<th ng-if="ctrl.prefs.covers" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','covers')}" 
								ng-click="filtersCtrl.changeSort('period','covers')">Cov</th>
							<th ng-if="ctrl.prefs.campHours" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','campHours')}" 
								ng-click="filtersCtrl.changeSort('period','campHours')">Camp</th>
							<th ng-if="ctrl.prefs.salesPerHour" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','salesPerHour')}" 
								ng-click="filtersCtrl.changeSort('period','salesPerHour')">Sales/h</th>
							<th ng-if="ctrl.prefs.salesPerCover" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','salesPerCover')}" 
								ng-click="filtersCtrl.changeSort('period','salesPerCover')">Sales/cov</th>
							<th ng-if="ctrl.prefs.tipsPercent" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','tipsPercent')}" 
								ng-click="filtersCtrl.changeSort('period','tipsPercent')">%Tips</th>
							<th ng-if="ctrl.prefs.tipoutPercent" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','tipoutPercent')}" 
								ng-click="filtersCtrl.changeSort('period','tipoutPercent')">%T/O</th>
							<th ng-if="ctrl.prefs.tipsVsWage" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','tipsVsWage')}" 
								ng-click="filtersCtrl.changeSort('period','tipsVsWage')">%TvsW</th>
							<th ng-if="ctrl.prefs.hourly" class="sortable" ng-class="{'sort-field':filtersCtrl.isSort('period','hourly')}" 
								ng-click="filtersCtrl.changeSort('period','hourly')">$/h</th>
						</tr>
					</thead>
					<tr ng-repeat="list in ctrl.list | orderBy:filtersCtrl.filters.sort.period:filtersCtrl.filters.reverse.period" ng-class-even="'alt'">
						<td>{{list.startWeek | date:'MMM dd, yyyy →'}} {{list.endWeek | date:'MMM dd, yyyy'}}{{list.monthname}} {{list.year}}</td>
						<td ng-if="ctrl.prefs.shifts">{{list.shifts | number:0}}</td>
						<td ng-if="ctrl.prefs.hours">{{list.hours | number:2}}h</td>
						<td ng-if="ctrl.prefs.earnedWage">{{list.earnedWage | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.earnedTips">{{list.earnedTips | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.earnedTotal">{{list.earnedTotal | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.sales">{{list.sales | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.tipout">{{list.tipout | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.covers">{{list.covers | number:0}}</td>
						<td ng-if="ctrl.prefs.campHours">{{list.campHours | number:2}}h</td>
						<td ng-if="ctrl.prefs.salesPerHour">{{list.salesPerHour | currency:undefined:0}}/h</td>
						<td ng-if="ctrl.prefs.salesPerCover">{{list.salesPerCover | currency:undefined:0}}/cov</td>
						<td ng-if="ctrl.prefs.tipsPercent">{{list.tipsPercent | number:1}}%</td>
						<td ng-if="ctrl.prefs.tipoutPercent">{{list.tipoutPercent | number:1}}%</td>
						<td ng-if="ctrl.prefs.tipsVsWage">{{list.tipsVsWage | number:0}}%</td>
						<td ng-if="ctrl.prefs.hourly">{{list.hourly | currency}}/h</td>
					</tr>
					<tr class="summary">
						<td><i>average</i></td>
						<td ng-if="ctrl.prefs.shifts">{{ctrl.summary.avgShifts | number:1}}</td>
						<td ng-if="ctrl.prefs.hours">{{ctrl.summary.avgHours | number:2}}h</td>
						<td ng-if="ctrl.prefs.earnedWage">{{ctrl.summary.avgWage | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.earnedTips">{{ctrl.summary.avgTips | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.earnedTotal">{{ctrl.summary.avgEarned | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.sales">{{ctrl.summary.avgSales | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.tipout">{{ctrl.summary.avgTipout | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.covers">{{ctrl.summary.avgCovers | number:1}}</td>
						<td ng-if="ctrl.prefs.campHours">{{ctrl.summary.avgCampHours | number:2}}h</td>
						<td ng-if="ctrl.prefs.salesPerHour">{{ctrl.summary.salesPerHour | currency:undefined:0}}/h</td>
						<td ng-if="ctrl.prefs.salesPerCover">{{ctrl.summary.salesPerCover | currency:undefined:0}}/cov</td>
						<td ng-if="ctrl.prefs.tipsPercent">{{ctrl.summary.tipsPercent | number:1}}%</td>
						<td ng-if="ctrl.prefs.tipoutPercent">{{ctrl.summary.tipoutPercent | number:1}}%</td>
						<td ng-if="ctrl.prefs.tipsVsWage">{{ctrl.summary.tipsVsWage | number:0}}%</td>
						<td ng-if="ctrl.prefs.hourly">{{ctrl.summary.hourly | currency:undefined:2}}/h</td>
					</tr>
					<tr class="summary">
						<td class="tot-cell"><i>{{ctrl.summary.count}} total</i></td>
						<td ng-if="ctrl.prefs.shifts" class="tot-cell">{{ctrl.summary.totShifts | number:0}}</td>
						<td ng-if="ctrl.prefs.hours" class="tot-cell">{{ctrl.summary.totHours | number:2}}h</td>
						<td ng-if="ctrl.prefs.earnedWage" class="tot-cell">{{ctrl.summary.totWage | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.earnedTips" class="tot-cell">{{ctrl.summary.totTips | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.earnedTotal" class="tot-cell">{{ctrl.summary.totEarned | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.sales" class="tot-cell">{{ctrl.summary.totSales | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.tipout" class="tot-cell">{{ctrl.summary.totTipout | currency:undefined:0}}</td>
						<td ng-if="ctrl.prefs.covers" class="tot-cell">{{ctrl.summary.totCovers | number:0}}</td>
						<td ng-if="ctrl.prefs.campHours" class="tot-cell">{{ctrl.summary.totCampHours | number:2}}h</td>
						<td ng-if="ctrl.prefs.salesPerHour" class="tot-cell"></td>
						<td ng-if="ctrl.prefs.salesPerCover" class="tot-cell"></td>
						<td ng-if="ctrl.prefs.tipsPercent" class="tot-cell"></td>
						<td ng-if="ctrl.prefs.tipoutPercent" class="tot-cell"></td>
						<td ng-if="ctrl.prefs.tipsVsWage" class="tot-cell"></td>
						<td ng-if="ctrl.prefs.hourly" class="tot-cell"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>